@model Benner.Erp.Web.Schedule.Models.ScheduleIndexModel

<link href="@Url.Content("~/content/css/fullcalendar.css")" rel="stylesheet" type="text/css" media="screen" />
<link href="@Url.Content("~/content/css/fullcalendar.print.css")" rel="stylesheet" type="text/css" media="print" />

<style>
    .portlet.calendar.light .fc-button {
        top: 0 !important;
    }

    .aga-calendar-placeholder > .blockUI.blockOverlay {
        opacity: 0.5 !important;
        cursor: auto !important;
    }

    .aga-calendar-placeholder > .blockUI.blockMsg.blockElement {
        cursor: auto !important;
    }
</style>


<div class="portlet light portlet-fit calendar aga-calendar">
    <div class="portlet-title" style="padding-top: 0;padding-bottom: 0">

        <div class="row">
            <div class="col-md-5">
                @Html.Raw(Benner.Erp.Web.Schedule.ScheduleHelper.RenderSelecionarAgendaLookup(Model))
            </div>
            <div class="col-md-5 aga-schedule-scheduled">
                @Html.Partial("Agendado")
            </div>
            <div class="col-md-2">
                <button type="button" name="btnAddEvento" class="btn green pull-right aga-schedule-new-event"
                        onclick="AGA.Schedule.newEvent(this)">
                    <i class="fa fa-plus"></i>&nbsp; Novo evento
                </button>
            </div>
        </div>

    </div>
    <div class="portlet-body aga-calendar-placeholder">
        <div class="row">
            <div class="col-md-12">
                <div class="aga-calendar-body">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $( document ).ready(function() {
        $('.fc-agendaDay-button').hide();
        $('.fc-agendaWeek-button').hide();
    });
</script>    

<script src="@Url.Content("~/content/js/moment.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/content/js/fullcalendar.min.js")" type="text/javascript"></script>