<div class="portlet light m-grid-auto">
    <div class="row" style="display: flex;justify-content: space-around;">
        @{
            if (Model.DadosModalidade.MostraLu)
            {
                <div class="widget-body col-md-2 widget portlet-none" data-widget-id="K_LU" style="">
                    <div>
                        <div class="message-panel">
                        </div>
                        <div class="widget-context " style="display:none;">
                        </div>
                        <div class="wes-tile">
                            <a data-tilecolor="green-jungle" class="dashboard-stat dashboard-stat-v2 wes-default-tile tilecolor command-name green-jungle">
                                <div class="visual">
                                    <i class="fa fa-dollar"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span class="tilevalue">
                                            <span style="text-align: center;">Lu</span>
                                        </span>
                                    </div>
                                    <div id="divLu" class="desc tiledescription">
                                        R$
                                        @Model.ValoresOportunidade.ValorProdutos.TotalLu
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <br />
                    <input maxlength="6" name="" oninput="Controlador(this)" onkeyup="" type="text" id="K_PORCENTAGEMLU" class="form-control placeholder-no-fix valid" autocomplete="off" placeholder="%" aria-invalid="false">
                </div>
            }
            if (Model.DadosModalidade.MostraLum)
            {
                <div class="widget-body col-md-2 widget portlet-none" data-widget-id="K_LUM" style="">
                    <div>
                        <div class="message-panel">
                        </div>
                        <div class="widget-context " style="display:none;">
                        </div>
                        <div class="wes-tile">
                            <a data-tilecolor="green-jungle" class="dashboard-stat dashboard-stat-v2 wes-default-tile tilecolor command-name green-jungle">
                                <div class="visual">
                                    <i class="fa fa-dollar"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span class="tilevalue">
                                            <span style="text-align: center;">Lum</span>
                                        </span>
                                    </div>
                                    <div id="divLum" class="desc tiledescription">
                                        R$
                                        @Model.ValoresOportunidade.ValorProdutos.TotalLum
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <br />
                    <input maxlength="6" name="" oninput="Controlador(this)" onkeyup="" type="text" id="K_PORCENTAGEMLUM" class="form-control placeholder-no-fix valid" autocomplete="off" placeholder="%" aria-invalid="false">
                </div>
            }
            if (Model.DadosModalidade.MostraLocacao)
            {
                <div class="widget-body col-md-2 widget portlet-none" data-widget-id="K_LOCACAO" style="">
                    <div>
                        <div class="message-panel">
                        </div>
                        <div class="widget-context " style="display:none;">
                        </div>
                        <div class="wes-tile">
                            <a data-tilecolor="green-jungle" class="dashboard-stat dashboard-stat-v2 wes-default-tile tilecolor command-name green-jungle">
                                <div class="visual">
                                    <i class="fa fa-dollar"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span class="tilevalue">
                                            <span style="text-align: center;">Locação</span>
                                        </span>
                                    </div>
                                    <div id="divLocacao" class="desc tiledescription">
                                        R$
                                        @Model.ValoresOportunidade.ValorProdutos.TotalLocacao
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <br />
                    <input maxlength="6" name="" oninput="Controlador(this)" onkeyup="" type="text" id="K_PORCENTAGEMLOCACAO" class="form-control placeholder-no-fix valid" autocomplete="off" placeholder="%" aria-invalid="false">
                </div>
            }
            if (Model.DadosModalidade.MostraServico)
            {
                <div class="widget-body col-md-2 widget portlet-none" data-widget-id="K_SERVICO" style="">
                    <div>
                        <div class="message-panel">
                        </div>
                        <div class="widget-context " style="display:none;">
                        </div>
                        <div class="wes-tile">
                            <a data-tilecolor="green-jungle" class="dashboard-stat dashboard-stat-v2 wes-default-tile tilecolor command-name green-jungle">
                                <div class="visual">
                                    <i class="fa fa-dollar"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span class="tilevalue">
                                            <span style="text-align: center;">Serviço</span>
                                        </span>
                                    </div>
                                    <div id="divServico" class="desc tiledescription">R$: @Model.ValoresOportunidade.ValorEscopo.TotalServicos</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <br />
                    <input maxlength="6" name="" onkeyup="Controlador(this)" type="text" id="K_PORCENTAGEMSERVICO" class="form-control placeholder-no-fix valid" autocomplete="off" placeholder="%" aria-invalid="false">
                </div>
            }
            if (Model.DadosModalidade.MostraSaas)
            {
                <div class="widget-body col-md-2 widget portlet-none" data-widget-id="K_DATACENTER" style="">
                    <div>
                        <div class="message-panel">
                        </div>
                        <div class="widget-context " style="display:none;">
                        </div>
                        <div class="wes-tile">
                            <a data-tilecolor="green-jungle" class="dashboard-stat dashboard-stat-v2 wes-default-tile tilecolor command-name green-jungle">
                                <div class="visual">
                                    <i class="fa fa-dollar"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span class="tilevalue">
                                            <span style="text-align: center;">Data Center</span>
                                        </span>
                                    </div>
                                    <div id="divSaas" class="desc tiledescription">R$: @Model.ValoresOportunidade.ValorSaas.TotalDataCenter</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <br />
                    <input maxlength="6" name="" onkeyup="Controlador(this)" type="text" id="K_PORCENTAGEMSAAS" class="form-control placeholder-no-fix valid" autocomplete="off" placeholder="%" aria-invalid="false">
                </div>
                @*<div class="widget-body col-md-2 widget portlet-none" data-widget-id="K_SAAS" style="">
                    <div>
                        <div class="message-panel">
                        </div>
                        <div class="widget-context " style="display:none;">
                        </div>
                        <div class="wes-tile">
                            <a data-tilecolor="green-jungle" class="dashboard-stat dashboard-stat-v2 wes-default-tile tilecolor command-name green-jungle">
                                <div class="visual">
                                    <i class="fa fa-dollar"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span class="tilevalue">
                                            <span style="text-align: center;">SAAS</span>
                                        </span>
                                    </div>
                                    <div id="divSaas" class="desc tiledescription">R$: @Model.ValoresOportunidade.ValorSaas.TotalSaas</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>*@
            }
        }
    </div>
    <br />
    <div class="portlet-title">
        <div class="caption collapsible" onclick="">
            <span class="caption-subject font-green-sharp bold uppercase">
                Dados da Oportunidade:
            </span>
        </div>
    </div>

    <div class="row">
        <div id="divMensagem" style="display: none;" class="message-panel">
            <div class="alert alert-info">
                <button class="close" data-dismiss="alert"></button>
                <span id="lblMensagem"></span>
            </div>
        </div>
        <div id="" class="form-actions top nobg no-border commands-bar fluid list-commands-bar">
            <a style="display: none;" id="K_BtnSolicitar" onclick="SolicitarDesconto()" class="blue btn command-action" title="">
                <i class="fa fa-plus btn-action"></i> Solicitar
            </a>
            <a style="display: none;" id="K_BtnAutorizar" onclick="AprovarDesconto()" class="btn green-jungle command-action" title="">
                <i class="fa fa-check btn-action"></i> Aprovar
            </a>
            <a style="display: none;" id="K_BtnRecusar" onclick="RecusarDesconto()" class="btn red command-action" title="">
                <i class="fa fa-times btn-action"></i> Recusar
            </a>
            <a style="display: none;" id="K_BtnCancelar" onclick="CancelarOperacaoDesconto()" class="btn default command-action" title="">
                <i class="fa fa-times btn-action"></i> Cancelar
            </a>
        </div>
        <div class="form-body form-horizontal legend-left-caption">
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2">
                    <div class="label-form">
                        <div class="label-title">
                            Oportunidade
                        </div>
                        <div class="label-title-required">
                            <span class="required" aria-required="true"> * </span>
                        </div>
                    </div>
                </label>
                <div class="col-md-4 col-sm-4 value">
                    <span data-field="OPORTUNIDADE" data-label="OPORTUNIDADE" data-type="integer">
                        <input disabled value="@Model.TxtOportunidade" name="" type="text" id="" class="form-control  auto" titlefieldname="Oportunidade">
                    </span>
                </div>
                <label class="control-label col-md-1 col-sm-1">
                    <div class="label-form">
                        <div class="label-title" title="VERSAO">
                            Versao
                        </div>
                        <div class="label-title-required">
                            <span class="required" aria-required="true"> * </span>
                        </div>
                    </div>
                </label>
                <div class="col-md-1 col-sm-1 value">
                    <span data-field="VERSAO" data-label="Versao" data-type="integer">
                        <input disabled value="@Model.TxtVersao" name="" type="text" id="" class="form-control  auto" titlefieldname="VERSAO">
                    </span>
                </div>
                <label class="control-label col-md-1 col-sm-1">
                    <div class="label-form">
                        <div class="label-title" title="STATUS">
                            Status
                        </div>
                        <div class="label-title-required">
                            <span class="required" aria-required="true"> * </span>
                        </div>
                    </div>
                </label>
                <div class="col-md-3 col-sm-3 value">
                    <span data-field="STATUS" data-label="STATUS">
                        <input disabled value="@Model.TxtStatus" name="" type="text" id="" class="form-control  auto" titlefieldname="Status">
                    </span>
                </div>

            </div>
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2">
                    <div class="label-form">
                        <div class="label-title">
                            Usuário Solicitação
                        </div>
                        <div class="label-title-required">
                            <span class="required" aria-required="true"> * </span>
                        </div>
                    </div>
                </label>
                <div class="col-md-4 col-sm-4 value">
                    <span data-field="USUARIOSOLICITACAO" data-label="USUARIOSOLICITACAO" data-type="integer">
                        <input disabled value="@Model.TxtUsuarioInclusao" name="" type="text" id="" class="form-control  auto" titlefieldname="USUARIOSOLICITACAO">
                    </span>
                </div>
                <label class="control-label col-md-2 col-sm-2">
                    <div class="label-form">
                        <div class="label-title">
                            Usuário Aprovação
                        </div>
                        <div class="label-title-required">
                            <span class="required" aria-required="true"> * </span>
                        </div>
                    </div>
                </label>
                <div class="col-md-4 col-sm-4 value">
                    <span data-field="USUARIOAPROVACAO" data-label="USUARIOAPROVACAO" data-type="integer">
                        <input disabled value="@Model.TxtUsuarioAprovacao" name="" type="text" id="txtUsuarioAprovacao" class="form-control  auto" titlefieldname="USUARIOAPROVACAO">
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 col-sm-12 value">
                    <label class="control-label name column-nowrap">
                        <div class="label-form">
                            <div class="label-title" title="OBSERVACAO">
                                Observação
                            </div>
                        </div>
                    </label>
                    <span data-field="OBSERVACAO" data-label="Observacao" data-type="text">
                        <textarea name="" rows="2" cols="60" id="txtObservacao" class="form-control " maxlength="1000000"></textarea>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function SolicitarDesconto() {
        var observacao = document.getElementById("txtObservacao");
        var pLu = 0;
        var pLum = 0;
        var pLocacao = 0;
        var pServico = 0;
        var pSaas = 0;
        var pBpo = 0;

        if (document.getElementById("K_PORCENTAGEMLU")) {
            var lu = document.getElementById("K_PORCENTAGEMLU");
            pLu = lu.value;
        }
        if (document.getElementById("K_PORCENTAGEMLUM")) {
            var lum = document.getElementById("K_PORCENTAGEMLUM");
            pLum = lum.value;
        }
        if (document.getElementById("K_PORCENTAGEMLOCACAO")) {
            var locacao = document.getElementById("K_PORCENTAGEMLOCACAO");
            pLocacao = locacao.value;
        }
        if (document.getElementById("K_PORCENTAGEMSERVICO")) {
            var servico = document.getElementById("K_PORCENTAGEMSERVICO");
            pServico = servico.value;
        }
        if (document.getElementById("K_PORCENTAGEMSAAS")) {
            var saas = document.getElementById("K_PORCENTAGEMSAAS");
            pSaas = saas.value;
        }
        if (document.getElementById("K_PORCENTAGEMBPO")) {
            var bpo = document.getElementById("K_PORCENTAGEMBPO");
            pBpo = bpo.value;
        }

        var dadosEnvio = {
            "Solicitar": true,
            "PorcentagemLu": pLu,
            "PorcentagemLum": pLum,
            "PorcentagemLocacao": pLocacao,
            "PorcentagemServico": pServico,
            "PorcentagemSaas": pSaas,
            "PorcentagemBpo": pBpo,
            "NivelUsuario": "@Model.NivelUsuario",
            "Observacao": observacao.value,
            "HandleDesconto": @Model.Desconto.Handle,
            "Recusada": false,
            "UsuarioSolicitacao": @Model.HandleUsuario,
            "Oportunidade": @Model.CodigoOportunidade,
            "Versao": @Model.TxtVersao
        };

        PostDesconto(dadosEnvio);
    }

    function AprovarDesconto() {
        var observacao = document.getElementById("txtObservacao");
        var pLu = 0;
        var pLum = 0;
        var pLocacao = 0;
        var pServico = 0;
        var pSaas = 0;
        var pBpo = 0;

        if (document.getElementById("K_PORCENTAGEMLU")) {
            var lu = document.getElementById("K_PORCENTAGEMLU");
            pLu = lu.value;
        }
        if (document.getElementById("K_PORCENTAGEMLUM")) {
            var lum = document.getElementById("K_PORCENTAGEMLUM");
            pLum = lum.value;
        }
        if (document.getElementById("K_PORCENTAGEMLOCACAO")) {
            var locacao = document.getElementById("K_PORCENTAGEMLOCACAO");
            pLocacao = locacao.value;
        }
        if (document.getElementById("K_PORCENTAGEMSERVICO")) {
            var servico = document.getElementById("K_PORCENTAGEMSERVICO");
            pServico = servico.value;
        }
        if (document.getElementById("K_PORCENTAGEMSAAS")) {
            var saas = document.getElementById("K_PORCENTAGEMSAAS");
            pSaas = saas.value;
        }
        if (document.getElementById("K_PORCENTAGEMBPO")) {
            var bpo = document.getElementById("K_PORCENTAGEMBPO");
            pBpo = bpo.value;
        }

        var dadosEnvio = {
            "Solicitar": false,
            "PorcentagemLu": pLu,
            "PorcentagemLum": pLum,
            "PorcentagemLocacao": pLocacao,
            "PorcentagemServico": pServico,
            "PorcentagemSaas": pSaas,
            "PorcentagemBpo": pBpo,
            "NivelUsuario": "@Model.NivelUsuario",
            "Observacao": observacao.value,
            "HandleDesconto": @Model.Desconto.Handle,
            "Recusada": false,
            "UsuarioSolicitacao": @Model.HandleUsuario,
            "Oportunidade": @Model.CodigoOportunidade,
            "Versao": @Model.TxtVersao
        };

        PostDesconto(dadosEnvio);
    }

    function RecusarDesconto() {
        var observacao = document.getElementById("txtObservacao");
        var pLu = 0;
        var pLum = 0;
        var pLocacao = 0;
        var pServico = 0;
        var pSaas = 0;
        var pBpo = 0;

        if (document.getElementById("K_PORCENTAGEMLU")) {
            var lu = document.getElementById("K_PORCENTAGEMLU");
            pLu = lu.value;
        }
        if (document.getElementById("K_PORCENTAGEMLUM")) {
            var lum = document.getElementById("K_PORCENTAGEMLUM");
            pLum = lum.value;
        }
        if (document.getElementById("K_PORCENTAGEMLOCACAO")) {
            var locacao = document.getElementById("K_PORCENTAGEMLOCACAO");
            pLocacao = locacao.value;
        }
        if (document.getElementById("K_PORCENTAGEMSERVICO")) {
            var servico = document.getElementById("K_PORCENTAGEMSERVICO");
            pServico = servico.value;
        }
        if (document.getElementById("K_PORCENTAGEMSAAS")) {
            var saas = document.getElementById("K_PORCENTAGEMSAAS");
            pSaas = saas.value;
        }
        if (document.getElementById("K_PORCENTAGEMBPO")) {
            var bpo = document.getElementById("K_PORCENTAGEMBPO");
            pBpo = bpo.value;
        }

        var dadosEnvio = {
            "Solicitar": true,
            "PorcentagemLu": pLu,
            "PorcentagemLum": pLum,
            "PorcentagemLocacao": pLocacao,
            "PorcentagemServico": pServico,
            "PorcentagemSaas": pSaas,
            "PorcentagemBpo": pBpo,
            "NivelUsuario": "@Model.NivelUsuario",
            "Observacao": observacao.value,
            "HandleDesconto": @Model.Desconto.Handle,
            "Recusada": true,
            "UsuarioSolicitacao": @Model.HandleUsuario,
            "Oportunidade": @Model.CodigoOportunidade,
            "Versao": @Model.TxtVersao
        };

        PostDesconto(dadosEnvio);
    }

    function PostDesconto(dadosEnvio) {

        var settings = {
            "url": Benner.Page.getApplicationPath() + "api/crm/oportunidades/descontos/acao-desconto",
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Content-Type": "application/json"
            },
            "data": JSON.stringify(dadosEnvio),
        };

        $.ajax(settings).done(function (response) {
            var result = JSON.parse(response);

            if (result.code == 200) {
                toastr.success(result.message);
                window.location.href = Benner.Page.getApplicationPath() + result.Url;
            }
            else
                toastr.error(result.message);
        });
    }

    function CancelarOperacaoDesconto() {
        if (document.getElementById("K_PORCENTAGEMLU")) {
            var lu = document.getElementById("K_PORCENTAGEMLU");
            lu.value = "";
            Controlador(lu);
        }
        if (document.getElementById("K_PORCENTAGEMLUM")) {
            var lum = document.getElementById("K_PORCENTAGEMLUM");
            lum.value = "";
            Controlador(lum);
        }
        if (document.getElementById("K_PORCENTAGEMLOCACAO")) {
            var locacao = document.getElementById("K_PORCENTAGEMLOCACAO");
            locacao.value = "";
            Controlador(locacao);
        }
        if (document.getElementById("K_PORCENTAGEMSERVICO")) {
            var servico = document.getElementById("K_PORCENTAGEMSERVICO");
            servico.value = "";
            Controlador(servico);
        }
        if (document.getElementById("K_PORCENTAGEMSAAS")) {
            var saas = document.getElementById("K_PORCENTAGEMSAAS");
            saas.value = "";
            Controlador(saas);
        }
        if (document.getElementById("K_PORCENTAGEMBPO")) {
            var bpo = document.getElementById("K_PORCENTAGEMBPO");
            bpo.value = "";
            Controlador(bpo);
        }

        var botao1 = document.getElementById("K_BtnSolicitar");
        var botao2 = document.getElementById("K_BtnAutorizar");
        var botao3 = document.getElementById("K_BtnCancelar");

        botao1.style = "display: none;";
        botao2.style = "display: none;";
        botao3.style = "display: none;";
    }

    function ControlaModalidade() {

        var retorno = false;

        var lu = document.getElementById("K_PORCENTAGEMLU");
        var lum = document.getElementById("K_PORCENTAGEMLUM");
        var locacao = document.getElementById("K_PORCENTAGEMLOCACAO");
        var servico = document.getElementById("K_PORCENTAGEMSERVICO");
        var saas = document.getElementById("K_PORCENTAGEMSAAS");
        var bpo = document.getElementById("K_PORCENTAGEMBPO");

        var mLu = "@Model.DadosModalidade.MostraLu";
        var mLum = "@Model.DadosModalidade.MostraLum";
        var mLocacao = "@Model.DadosModalidade.MostraLocacao";
        var mServico = "@Model.DadosModalidade.MostraServico";
        var mSaas = "@Model.DadosModalidade.MostraSaas";
        var mBpo = "@Model.DadosModalidade.MostraBpo";

        if (mLu == "True") {
            if (lu.value == "") {
                retorno = true;
            }
            else {
                return false;
            }
        }
        if (mLum == "True") {
            if (lum.value == "") {
                retorno = true;
            }
            else {
                return false;
            }
        }
        if (mLocacao == "True") {
            if (locacao.value == "") {
                retorno = true;
            }
            else {
                return false;
            }
        }
        if (mServico == "True") {
            if (servico.value == "") {
                retorno = true;
            }
            else {
                return false;
            }
        }
        if (mSaas == "True") {
            if (saas.value == "") {
                retorno = true;
            }
            else {
                return false;
            }
        }
        if (mBpo == "True") {
            if (bpo.value == "") {
                retorno = true;
            }
            else {
                return false;
            }
        }

        return retorno;
    }

    function ControlaBotao() {
        var lu = document.getElementById("K_PORCENTAGEMLU");
        var lum = document.getElementById("K_PORCENTAGEMLUM");
        var locacao = document.getElementById("K_PORCENTAGEMLOCACAO");
        var servico = document.getElementById("K_PORCENTAGEMSERVICO");
        var saas = document.getElementById("K_PORCENTAGEMSAAS");
        var bpo = document.getElementById("K_PORCENTAGEMBPO");

        var botao1 = document.getElementById("K_BtnSolicitar");
        var botao2 = document.getElementById("K_BtnAutorizar");
        var botao3 = document.getElementById("K_BtnCancelar");
        var botao4 = document.getElementById("K_BtnRecusar");

        try {

            if (ControlaModalidade()) {
                botao1.style = "display: none;";
                botao2.style = "display: none;";
                botao3.style = "display: none;";
                botao4.style = "display: none;";
            }
            else {

                var valorLu = 0;
                var valorLum = 0;
                var valorLocacao = 0;
                var valorServico = 0;
                var valorSaas = 0;
                var valorBpo = 0;

                if (null != lu) {
                    if (lu.value != "") {
                        valorLu = parseFloat(lu.value);
                    }
                }
                if (null != lum) {
                    if (lum.value != "") {
                        valorLum = parseFloat(lum.value);
                    }
                }
                if (null != locacao) {
                    if (locacao.value != "") {
                        valorLocacao = parseFloat(locacao.value);
                    }
                }
                if (null != servico) {
                    if (servico.value != "") {
                        valorServico = parseFloat(servico.value);
                    }
                }
                if (null != saas) {
                    if (saas.value != "") {
                        valorSaas = parseFloat(saas.value);
                    }
                }
                if (null != bpo) {
                    if (bpo.value != "") {
                        valorBpo = parseFloat(bpo.value);
                    }
                }

                if (valorLu > @Model.PorcentagemDesconto || valorLum > @Model.PorcentagemDesconto || valorLocacao > @Model.PorcentagemDesconto || valorServico > @Model.PorcentagemDesconto || valorSaas > @Model.PorcentagemDesconto || valorBpo > @Model.PorcentagemDesconto) {
                    botao1.style = "display: inline-block;";
                    botao2.style = "display: none;";

                    //botao4.style = "display: none;";
                    if ("@Model.Existente" == "True") {
                        botao4.style = "display: inline-block;";
                        botao3.style = "display: none;";
                    }
                    else {
                        botao4.style = "display: none;";
                        botao3.style = "display: inline-block;";
                    }
                }
                else {
                    botao2.style = "display: inline-block;";
                    botao1.style = "display: none;";
                    //botao3.style = "display: inline-block;";

                    if ("@Model.Existente" == "True") {
                        botao4.style = "display: inline-block;";
                        botao3.style = "display: none;";
                    }
                    else {
                        botao4.style = "display: none;";
                        botao3.style = "display: inline-block;";
                    }
                }
            }
        }
        catch(e) {

        }
    }

    function SimulaDescontoLu() {

        var porcentagemLu = document.getElementById("K_PORCENTAGEMLU");
        var divLu = document.getElementById("divLu");

        var valorLu = parseFloat(parseFloat("@Model.ValoresOportunidade.ValorProdutos.TotalLu".replace(',', '.')).toFixed(2));

        var desconto = (valorLu * (porcentagemLu.value / 100)).toFixed(2);

        var calculado = valorLu - parseFloat(desconto);

        var brl = new Intl.NumberFormat("pt-BR", { style: "currency", "currency": "BRL" }).format(calculado);

        divLu.innerHTML = brl;
    }

    function SimulaDescontoLum() {

        var porcentagem = document.getElementById("K_PORCENTAGEMLUM");
        var div = document.getElementById("divLum");

        var valor = parseFloat(parseFloat("@Model.ValoresOportunidade.ValorProdutos.TotalLum".replace(',', '.')).toFixed(2));

        var desconto = (valor * (porcentagem.value / 100)).toFixed(2);

        var calculado = valor - parseFloat(desconto);

        var brl = new Intl.NumberFormat("pt-BR", { style: "currency", "currency": "BRL" }).format(calculado);

        div.innerHTML = brl;
    }

    function SimulaDescontoLocacao() {

        var porcentagem = document.getElementById("K_PORCENTAGEMLOCACAO");
        var div = document.getElementById("divLocacao");

        var valor = parseFloat(parseFloat("@Model.ValoresOportunidade.ValorProdutos.TotalLocacao".replace(',', '.')).toFixed(2));

        var desconto = (valor * (porcentagem.value / 100)).toFixed(2);

        var calculado = valor - parseFloat(desconto);

        var brl = new Intl.NumberFormat("pt-BR", { style: "currency", "currency": "BRL" }).format(calculado);

        div.innerHTML = brl;
    }

    function SimulaDescontoServico() {

        var porcentagemServico = document.getElementById("K_PORCENTAGEMSERVICO");
        var divServico = document.getElementById("divServico");

        var valorServico = parseFloat(parseFloat("@Model.ValoresOportunidade.ValorEscopo.TotalServicos".replace(',', '.')).toFixed(2));

        var desconto = (valorServico * (porcentagemServico.value / 100)).toFixed(2);

        var calculado = valorServico - parseFloat(desconto);

        var brl = new Intl.NumberFormat("pt-BR", { style: "currency", "currency": "BRL" }).format(calculado);

        divServico.innerHTML = brl;
    }

    function SimulaDescontoSaas() {

        var porcentagemSaas = document.getElementById("K_PORCENTAGEMSAAS");
        var divSaas = document.getElementById("divSaas");

        var valorSaas = parseFloat(parseFloat("@Model.ValoresOportunidade.ValorSaas.TotalDataCenter".replace(',', '.')).toFixed(2));

        var desconto = (valorSaas * (porcentagemSaas.value / 100)).toFixed(2);

        var calculado = valorSaas - parseFloat(desconto);

        var brl = new Intl.NumberFormat("pt-BR", { style: "currency", "currency": "BRL" }).format(calculado);

        divSaas.innerHTML = brl;
    }

    function Controlador(elemento) {

        //elemento.value = elemento.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');

        var valorDigitado = elemento.value;

        // Remove todos os caracteres que não são números
        var valorNumerico = valorDigitado.replace(/[^0-9]/g, '');

        if (valorNumerico.length >= 3) {
            // Limita o valor numérico a 10000
            valorNumerico = Math.min(parseInt(valorNumerico), 10000).toString();
        }

        // Divide o valor em partes para antes e depois da vírgula
        var antesVirgula = valorNumerico.slice(0, -2);
        var depoisVirgula = valorNumerico.slice(-2);

        if (antesVirgula == "")
            antesVirgula = "0";

        // Formata o valor para exibir as casas decimais corretas
        var valorFormatado = antesVirgula + '.' + depoisVirgula;

        // Atualiza o valor do input
        elemento.value = valorFormatado;


        if (elemento.value.length > 0) {
            var total = parseFloat(elemento.value);
                var divMensagem = document.getElementById("divMensagem");
                var lblMensagem = document.getElementById("lblMensagem");

                if (total > 100) {
                    divMensagem.style = "display: block;";
                    lblMensagem.innerHTML = "Não é possivel ultrapassar 100% de desconto";

                    elemento.value = "100";
                }
                else {
                    divMensagem.style = "display: none;";
                    lblMensagem.innerHTML = "";

                    if (elemento.id == "K_PORCENTAGEMLU")
                        SimulaDescontoLu();
                    else if (elemento.id == "K_PORCENTAGEMLUM")
                        SimulaDescontoLum();
                    else if (elemento.id == "K_PORCENTAGEMLOCACAO")
                        SimulaDescontoLocacao();
                    else if (elemento.id == "K_PORCENTAGEMSERVICO")
                        SimulaDescontoServico();
                    else if (elemento.id == "K_PORCENTAGEMSAAS")
                        SimulaDescontoSaas();
                }
            //if (elemento.value == "." || elemento.value == ",") {
            //    elemento.value = "";
            //}
            //else {
            //    var total = parseFloat(elemento.value);
            //    var divMensagem = document.getElementById("divMensagem");
            //    var lblMensagem = document.getElementById("lblMensagem");

            //    if (total > 100) {
            //        divMensagem.style = "display: block;";
            //        lblMensagem.innerHTML = "Não é possivel ultrapassar 100% de desconto";

            //        elemento.value = "100";
            //    }
            //    else {
            //        divMensagem.style = "display: none;";
            //        lblMensagem.innerHTML = "";

            //        if (elemento.id == "K_PORCENTAGEMLU")
            //            SimulaDescontoLu();
            //        else if (elemento.id == "K_PORCENTAGEMLUM")
            //            SimulaDescontoLum();
            //        else if (elemento.id == "K_PORCENTAGEMLOCACAO")
            //            SimulaDescontoLocacao();
            //        else if (elemento.id == "K_PORCENTAGEMSERVICO")
            //            SimulaDescontoServico();
            //        else if (elemento.id == "K_PORCENTAGEMSAAS")
            //            SimulaDescontoSaas();
            //    }
            //}
        }
        else {
            try {
                elemento.value = "0";

                if (elemento.id == "K_PORCENTAGEMLU")
                    SimulaDescontoLu();
                else if (elemento.id == "K_PORCENTAGEMLUM")
                    SimulaDescontoLum();
                else if (elemento.id == "K_PORCENTAGEMLOCACAO")
                    SimulaDescontoLocacao();
                else if (elemento.id == "K_PORCENTAGEMSERVICO")
                    SimulaDescontoServico();
                else if (elemento.id == "K_PORCENTAGEMSAAS")
                    SimulaDescontoSaas();
            }
            catch (e) {
                divMensagem.style = "display: block;";
                lblMensagem.innerHTML = "Houve um erro ao calcular seu desconto!";

                elemento.value = "";
            }
            finally {
                elemento.value = "";

            }
        }

        ControlaBotao();
    }

    function VisibilidadeCampos() {
        var observacao = document.getElementById("txtObservacao");
        var userAprovacao = document.getElementById("txtUsuarioAprovacao");
        FormataCampoValores();
        if ("@Model.Existente" == "True") {
            if ("@Model.Desconto.Editar" == "True") {
                observacao.value = "@Model.Desconto.Observacao.Replace("'", "\\'").Replace("\"", "\\\"").Replace("\\", "\\\\").Replace("/", "\\/").Replace("\r\n", "\\r\\n").Replace("\t", "\\t").Replace("\r", "\\r").Replace("\0", "\\0").Replace("\b", "\\b").Replace("\f", "\\f")";
                observacao.disabled = true;
                userAprovacao.value = "@Model.Desconto.TxtUsuarioAprovacao";
                //userAprovacao.disabled = false;

                if (document.getElementById("K_PORCENTAGEMLU")) {
                    var lu = document.getElementById("K_PORCENTAGEMLU");
                    lu.value = @Model.Desconto.PorcentagemLu.ToString().Replace(',','.');
                    lu.disabled = true;
                }
                if (document.getElementById("K_PORCENTAGEMLUM")) {
                    var lum = document.getElementById("K_PORCENTAGEMLUM");
                    lum.value = @Model.Desconto.PorcentagemLum.ToString().Replace(',', '.');
                    lum.disabled = true;
                }
                if (document.getElementById("K_PORCENTAGEMLOCACAO")) {
                    var locacao = document.getElementById("K_PORCENTAGEMLOCACAO");
                    locacao.value = @Model.Desconto.PorcentagemLocacao.ToString().Replace(',', '.');
                    locacao.disabled = true;
                }
                if (document.getElementById("K_PORCENTAGEMSERVICO")) {
                    var servico = document.getElementById("K_PORCENTAGEMSERVICO");
                    servico.value = @Model.Desconto.PorcentagemServico.ToString().Replace(',', '.');
                    servico.disabled = true;
                }
                if (document.getElementById("K_PORCENTAGEMSAAS")) {
                    var saas = document.getElementById("K_PORCENTAGEMSAAS");
                    saas.value = @Model.Desconto.PorcentagemSaas.ToString().Replace(',', '.');
                    saas.disabled = true;
                }
                if (document.getElementById("K_PORCENTAGEMBPO")) {
                    var bpo = document.getElementById("K_PORCENTAGEMBPO");
                    bpo.value = @Model.Desconto.PorcentagemBpo.ToString().Replace(',', '.');
                    bpo.disabled = true;
                }

                ControlaBotao();
            }
            else {
                observacao.value = "@Model.Desconto.Observacao.Replace("'", "\\'").Replace("\"", "\\\"").Replace("\\", "\\\\").Replace("/", "\\/").Replace("\r\n", "\\r\\n").Replace("\t", "\\t").Replace("\r", "\\r").Replace("\0", "\\0").Replace("\b", "\\b").Replace("\f", "\\f")";
                observacao.disabled = true;
                userAprovacao.value = "@Model.Desconto.TxtUsuarioAprovacao";
                userAprovacao.disabled = true;

                if (document.getElementById("K_PORCENTAGEMLU")) {
                    var lu = document.getElementById("K_PORCENTAGEMLU");
                    lu.value = @Model.Desconto.PorcentagemLu.ToString().Replace(',', '.');
                    lu.disabled = true;
                }
                if (document.getElementById("K_PORCENTAGEMLUM")) {
                    var lum = document.getElementById("K_PORCENTAGEMLUM");
                    lum.value = @Model.Desconto.PorcentagemLum.ToString().Replace(',', '.');
                    lum.disabled = true;
                }
                if (document.getElementById("K_PORCENTAGEMLOCACAO")) {
                    var locacao = document.getElementById("K_PORCENTAGEMLOCACAO");
                    locacao.value = @Model.Desconto.PorcentagemLocacao.ToString().Replace(',', '.');
                    locacao.disabled = true;
                }
                if (document.getElementById("K_PORCENTAGEMSERVICO")) {
                    var servico = document.getElementById("K_PORCENTAGEMSERVICO");
                    servico.value = @Model.Desconto.PorcentagemServico.ToString().Replace(',', '.');
                    servico.disabled = true;
                }
                if (document.getElementById("K_PORCENTAGEMSAAS")) {
                    var saas = document.getElementById("K_PORCENTAGEMSAAS");
                    saas.value = @Model.Desconto.PorcentagemSaas.ToString().Replace(',', '.');
                    saas.disabled = true;
                }
                if (document.getElementById("K_PORCENTAGEMBPO")) {
                    var bpo = document.getElementById("K_PORCENTAGEMBPO");
                    bpo.value = @Model.Desconto.PorcentagemBpo.ToString().Replace(',', '.');
                    bpo.disabled = true;
                }
            }
        }
    }

    function FormataCampoValores() {
        if (document.getElementById("divLu")) {
            SimulaDescontoLu();
        }
        if (document.getElementById("divLum")) {
            SimulaDescontoLum();
        }
        if (document.getElementById("divLocacao")) {
            SimulaDescontoLocacao();
        }
        if (document.getElementById("divServico")) {
            SimulaDescontoServico();
        }
        if (document.getElementById("divSaas")) {
            SimulaDescontoSaas();
        }
        if (document.getElementById("divBpo")) {
            //SimulaDesconto();
        }
    }

</script>
@Ajax.OnReadyScript("VisibilidadeCampos();")