@{
    string mensagem = Convert.ToString(@Model.Fields["LOG"]);
    string id = "Popover_" + Convert.ToString(@Model.Fields["HANDLE"]);
    string titulo = "LOG de processamento";
    string classe = "";

    if (@Model.Fields["STATUS"] == "Com erro")
    {
        classe = "font-green-meadow fa fa-exclamation-circle ClassError";
    }
    else if (@Model.Fields["STATUS"] == "Integrado")
    {
        classe = "font-green-meadow fa fa-check-circle ClassOK";
    }
    else
    {
        classe = "font-green-meadow fa fa-question-circle ClassPending";
        mensagem = "Em processamento";
    }
}

<div class="btn-group">
    <div>
        <a id="@id" href="javascript:parent.window.showPopover('#@id');"
           data-toggle="popover"
           data-trigger="manual"
           class="@classe"
           data-placement="left"
           data-container="body"
           data-html="true"
           title="@titulo"
           style="color:white"
           data-content="<div>@mensagem</div>">            
        </a>

    </div>
</div>

<script>

    window.showPopover = function (id) {
        console.log(id);
        if (window.lastPopover === id) {
            $(".popover[role=tooltip]").detach();
            window.lastPopover = null;
        }
        else {
            $(".popover[role=tooltip]").detach();
            window.lastPopover = id;
            $(id).popover("show");
        }
    }

</script>