<div class="portlet light m-grid-auto">
    <div class="row" style="display: flex;justify-content: space-around;">

        @{
            if (Model.PerfilBennerVertical != "")
            {
                <div class="widget-body col-md-2 widget  portlet-none" data-widget-id="K_PERFILBENNER" style="">
                    <div>
                        <div class="message-panel">
                        </div>
                        <div class="widget-context " style="display:none;">
                        </div>
                        <div class="wes-tile">
                            <a data-tilecolor="green-jungle" class="dashboard-stat dashboard-stat-v2 wes-default-tile tilecolor command-name green-jungle">
                                <div class="visual">
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span class="tilevalue">
                                            <span style="font-size: 2.3rem;">Categoria @Model.PerfilBennerVertical</span>
                                        </span>
                                    </div>
                                    <div class="desc tiledescription">Perfil Benner</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            }
            if (Model.DadosModalidade.MostraLu)
            {
                <div class="widget-body col-md-2 widget  portlet-none" data-widget-id="K_LU" style="">
                    <div>
                        <div class="message-panel">
                        </div>
                        <div class="widget-context " style="display:none;">
                        </div>
                        <div class="wes-tile">
                            <a data-tilecolor="green" class="dashboard-stat dashboard-stat-v2 wes-default-tile tilecolor command-name green">
                                <div class="visual">
                                    <i class="fa fa-dollar"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span class="tilevalue">
                                            <span style="font-size: 2.3rem;">@Model.ValoresOportunidade.ValorProdutos.TotalLu</span>
                                        </span>
                                    </div>
                                    <div class="desc tiledescription">Lu</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            }
            if (Model.DadosModalidade.MostraLum)
            {
                <div class="widget-body col-md-2 widget  portlet-none" data-widget-id="K_LUM" style="">
                    <div>
                        <div class="message-panel">
                        </div>
                        <div class="widget-context " style="display:none;">
                        </div>
                        <div class="wes-tile">
                            <a data-tilecolor="green" class="dashboard-stat dashboard-stat-v2 wes-default-tile tilecolor command-name green">
                                <div class="visual">
                                    <i class="fa fa-dollar"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span class="tilevalue">
                                            <span style="font-size: 2.3rem;">@Model.ValoresOportunidade.ValorProdutos.TotalLum</span>
                                        </span>
                                    </div>
                                    <div class="desc tiledescription">Lum</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            }
            if (Model.DadosModalidade.MostraLocacao)
            {
                <div class="widget-body col-md-2 widget portlet-none" data-widget-id="K_LOCACAO" style="">
                    <div>
                        <div class="message-panel">
                        </div>
                        <div class="widget-context " style="display:none;">
                        </div>
                        <div class="wes-tile">
                            <a data-tilecolor="green" class="dashboard-stat dashboard-stat-v2 wes-default-tile tilecolor command-name green">
                                <div class="visual">
                                    <i class="fa fa-dollar"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span class="tilevalue">
                                            <span style="font-size: 2.3rem;">@Model.ValoresOportunidade.ValorProdutos.TotalLocacao</span>
                                        </span>
                                    </div>
                                    <div class="desc tiledescription">Locação</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            }
            if (Model.DadosModalidade.MostraServico)
            {
                <div class="widget-body col-md-2 widget portlet-none" data-widget-id="K_SERVICO" style="">
                    <div>
                        <div class="message-panel">
                        </div>
                        <div class="widget-context " style="display:none;">
                        </div>
                        <div class="wes-tile">
                            <a data-tilecolor="green" class="dashboard-stat dashboard-stat-v2 wes-default-tile tilecolor command-name green">
                                <div class="visual">
                                    <i class="fa fa-dollar"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span class="tilevalue">
                                            <span style="font-size: 2.3rem;">@Model.ValoresOportunidade.ValorEscopo.TotalServicos</span>
                                        </span>
                                    </div>
                                    <div class="desc tiledescription">Serviço</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            }
            if (Model.DadosModalidade.MostraSaas)
            {
                <div class="widget-body col-md-2 widget portlet-none" data-widget-id="K_DATACENTER" style="">
                    <div>
                        <div class="message-panel">
                        </div>
                        <div class="widget-context " style="display:none;">
                        </div>
                        <div class="wes-tile">
                            <a data-tilecolor="green" class="dashboard-stat dashboard-stat-v2 wes-default-tile tilecolor command-name green">
                                <div class="visual">
                                    <i class="fa fa-dollar"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span class="tilevalue">
                                            <span style="font-size: 2.3rem;">@Model.ValoresOportunidade.ValorSaas.TotalDataCenter</span>
                                        </span>
                                    </div>
                                    <div class="desc tiledescription">Data Center</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="widget-body col-md-2 widget portlet-none" data-widget-id="K_SAAS" style="">
                    <div>
                        <div class="message-panel">
                        </div>
                        <div class="widget-context " style="display:none;">
                        </div>
                        <div class="wes-tile">
                            <a data-tilecolor="green-jungle" class="dashboard-stat dashboard-stat-v2 wes-default-tile tilecolor command-name green-jungle">
                                <div class="visual">
                                    <i class="fa fa-dollar"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span class="tilevalue">
                                            <span style="font-size: 2.3rem;">@Model.ValoresOportunidade.ValorSaas.TotalSaas</span>
                                        </span>
                                    </div>
                                    <div class="desc tiledescription">SAAS</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <br />
    <div class="row" style="display: flex;justify-content: center;">
        <div>
            <p>
                <span style="color: red;">
                    <b>@Model.MensagemRecursosFilial</b>
                </span>
            </p>
            @if (Model.MensagemDesconto != "")
            {
                if (Model.OportunidadeBloqueada == false)
                {
                    <p>
                        <span style="color: darkgreen;">
                            <b>@Model.MensagemDesconto</b>
                        </span>
                    </p>
                }
                else
                {
                    <p>
                        <span style="color: darkgoldenrod;">
                            <b>@Model.MensagemDesconto</b>
                        </span>
                    </p>
                }
            }
        </div>
    </div>
</div>